.container div{
    border: 5px solid black;
    background-color: bisque;
}
h1{
    text-align: center;
}
.container h3{
    display: flex;
    border: 2px solid black;
    background-color: aqua;
    /* align-items: flex-end; */
    text-align: center;
    flex-direction: column;
    margin: 0 0 0 70%;
}

.container div p{
    padding: 0 3%;
}

@media screen and (max-width: 767px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
    }
    .container div{
        margin: 2% 10%;

    }
}

@media  screen and (min-width: 992px) {
    .container{
        display: flex;
        justify-content: space-around;
    }
    .container div{
        max-width: 30%;
    }
}

@media screen and (min-width:768px) and (max-width: 991px) {
    .container .chicken, .container .beef{
        max-width: 46%;
        display: inline-block;
    }
    .container .beef{
        float: right;
    }
    .container div{
        margin: 1% 1%;
    }
}